body, .form-control {
  background-color: #FFFFF0; /*ivory*/
}

body,
nav a {
  color: #502D16; /*brown*/
}

.navbar-mmp {
  background-color: #502D16; /*brown*/
}

/* unvisited link */
a.a-mmp:link, 
/* visited link */
a.a-mmp:visited,
/* mouse over link */
a.a-mmp:hover,
/* selected link */
a.a-mmp:active {
    color: #502D16; /*brown*/
}

nav a:hover,
nav a:active {
    color: #703F1F; /*2 shades lighter brown*/
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(234, 227, 85, 0.6);
}

p i.fa {
  color: #703F1F; /*2 shades lighter brown*/
}

.input-group-addon {
  background-color: #502D16; /*brown*/
  color: #FFFFF0; /* ivory */
}

button.btn-mmp {
  background-color: #502D16; /*brown*/
}

.btn-mmp:hover, .btn-mmp:focus, .btn-mmp:active, .btn-mmp.active, .open > .dropdown-toggle.btn-mmp,
.nav>li>a:hover, .nav>li>a:focus,
button.btn-mmp:hover, button.btn-mmp:focus {
 background-color: #703F1F; /*2 shades lighter brown*/
}

.nav>li>a, .nav>li>a, button.btn-mmp,
button.btn-mmp:hover, button.btn-mmp:focus {
  color: #FFFFF0; /*ivory*/
}