/* Extra small devices only (phones, less than 768px) */
@media (max-width: 767px) {
/*	a.navbar-brand {
		font-size: 14px;
	}*/
/*	#slider1_container {
		height: 600px;
	}
}*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.pull-right-sm-up {
		float: right;
	}
/*	#slider1_container {
		height: 675px;
	}*/
}
/* Small devices only (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
/*	.footer-middle {
		border-left: 1px solid #EEEEEE;
	}*/
/*	.footer-last {
		border-top:  1px solid #EEEEEE;
	}*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.footer-middle {
		border-left: 1px solid #EEEEEE;
		border-right: 1px solid #EEEEEE;
	}
}

/* Medium devices only (desktops, 992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices only (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}