body {
  padding-top: 70px;
  text-align: center;
  background-color: #FFFFF0; 
}

.padded {
  padding: 10px;
}

form, #services p {
  text-align: left;
}

address p {
  font-size: 18px;
  margin-bottom: 2px;
}

footer {
	background-color: #502D16;
}

footer h2 {
	color: #9CBD86;
}

/*temp styles below this line*/
#slider-gallery img {
  margin:; 0 auto;
  max-width: 100%;
  max-height: 100%;
}