body {
  padding-top: 70px;
  text-align: center;
}

.padded {
  padding: 10px;
}

form {
  text-align: left;
}

address p {
  font-size: 18px;
  margin-bottom: 2px;
}

/*temp styles below this line*/
#slider-gallery img {
  margin:; 0 auto;
  max-width: 100%;
  max-height: 100%;
}